.button{
    color: white;
    border: none;
    outline: none;
    width: 130px;
    height: 25px;
    letter-spacing: 1px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 13px;
  }
.Delete{
    background: #ED5E68;
  }
.Delete:hover{
    background: #c04850;
    cursor: pointer;
  }
.Request{
    background: #2196F3;
  }
.Request:hover{
    background: #1a70b6;
    cursor: pointer;
  }
.Accept{
    background: #45AC53;
  }
.Accept:hover{
    background: #2e7a38;
    cursor: pointer;
  }
.Action{
    background: #ed925e;
  }
.Action:hover{
    background: #c27549;
    cursor: pointer;
  }
.Cancel{
    background: #8388A4;
  }
  .Cancel:hover{
      background: #63677c;
      cursor: pointer;
  }


#tableMain, #tableDislocation{
    background: rgb(236, 236, 236);
    
    }
tr,td,th{
    font-size: 12px;
    border: 1px solid rgb(184, 184, 184);
    background: white;
    text-align: center;
    padding: 5px 10px;
}
.info-table{
    margin-top: 66px;
    width: 50vw;
}
.table1 table {
  /* width: 35% !important; */
  border-spacing: 0 !important;
  margin-top: 3%;
}
.table1 table thead tr th {
  text-align: left !important;
  border-bottom: solid 3px #c04945 !important;
  padding: 8px !important;
  font-size: small;
  background-color: #eee !important;
  color: #000000 !important;
}
.table1 table tbody tr td {
  transition: all 0.15s ease !important;
  padding: 8px !important;
}
.table1 table tbody td span {
  font-size: x-small;
  display: block;
}
.table1 table tbody td span:first-child {
  font-size: small;
  line-height: 1.5em;
  display: block;
}
.table1 table tbody tr:hover {
  background-color: #eee !important;
  outline: solid 1px #c04945  !important;
}
.table1 table th,
.table1 table td:not(.wrap) {
  white-space: nowrap !important;
}
h2 {
  text-align: center;
  padding-top: 2%;
}